.row {
  display: flex;
}

.column-import {
  text-align: center;
  flex: 50%;
  padding-top: 40px;
}

.column-third-import {
  text-align: center;
  width: 20%;
  align-items: center;
}

.column-third-left-import {
  text-align: right;
  width: 40%;
  align-items: center;
}

.column-third-right-import {
  text-align: left;
  width: 40%;
  align-items: center;
}
.bp3-file-input {
  width: 90%;
}

.column-right-import {
  text-align: center;
  flex: 50%;
  border-left: 1px solid white;
}

.upload-button-import {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-table {
  width: 90%;
}

.uploading-overlay {
  align-items: center;
  text-align: center;
}
