.row {
  display: flex;
}

.column-import {
  text-align: center;
  flex: 50%;
  //padding-top: 40px;
}

.column-third-import {
  text-align: center;
  width: 100%;
  align-items: center;
}

.column-third-left-import {
  text-align: right;
  width: 30%;
  align-items: center;
}

.column-third-right-import {
  text-align: center;
  width: 30%;
  align-items: center;
}
.bp3-file-input {
  width: 90%;
}

.column-right-import {
  text-align: center;
  flex: 50%;
  border-left: 1px solid white;
}

.upload-button-import {
  text-align: right;
  align-items: right;
  justify-content: right;
}

.modify-table {
  width:95%;
  padding:10pt;

}
.single-modification{
  width:100%;
  overflow:auto;
}


.uploading-overlay {
  align-items: center;
  text-align: center;
}

.instructions-card {
  width: 95%;
  // align-items: center;
  margin: auto;
}



.import-button:focus {
  outline: none;
}
.import{
  width:100%
}
.import h3{
padding:0;
  margin:0;
}
.import-buttons-asset{
  margin-top:10pt;
  margin-bottom:10pt;
  width:100%;
  text-align:center;


}
