.propsview .row-props {
  display: flex;
  white-space: pre-line;
}

.propsview .column-props {
  text-align: center;
  flex: 50%;
}

.model-link:hover {
  background-color: #394b59 !important;
  cursor: pointer !important;
}
.propsview {
  margin: 10pt;
  background-color: #202b33 !important;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 7pt;
  border-radius: 5pt;
  padding-bottom: 10pt;
  word-wrap: normal;
  width: 95%;
}
.propsdetail {
  overflow: auto;
  display: flex;
  width: 100%;
}
.propsview .props-column {
  float: left;
  flex: 1;
  padding-right: 30pt;
}
.label {
  color: #bfccd6 ;
}
.custom-message{
 float: right;
color:#48AFF0;
margin-top:-10pt;
}