.detail-buttons {
  display: flex;
  float: right;
}

// .column {
//   text-align: center;
//   flex: 50%;
//   float: right;
// }

// .column-right {
//   text-align: center;
//   float: right;
//   flex: 50%;
//   border-left: 1px solid white;
// }
.button-add {
  float: left;
}

.graph-container {
  // overflow: scroll;
  // background-color: red !important;
  // width: 100% !important;
  // height: 100% !important;
  max-height: 400px;
  border: 1px dotted gray;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 1;
  overflow: hidden;
  display: block;
}

.graph-container div {
  // overflow: scroll;
  // background-color: red !important;
  // width: 100% !important;

  display: block;
}

:not(svg) {
  transform-origin: 30px 30px;
}
g {
  transform: translate(-190.3, -208.662) scale(1.00696, 1.00696);
}
