.detail-buttons {
  float: right;
}
.model-detail{
  float:right;
  margin-right:50pt;
  margin-top:10pt;
}
.detail-buttons-wrapper {
  padding-top: 10pt;
  padding-right: 10pt;
  padding-bottom: 20pt;
}

.asset-link:hover {
  background-color: #5c7080 !important;
  cursor: pointer;
}
.graph-container {
  // overflow: auto;
  // background-color: red !important;
  // width: 100% !important;
  // height: 100% !important;
  max-height: 400px;
  border: 1px dotted gray;
  border-radius: 10pt;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 1;
  overflow: hidden;
  display: block;
  flex: 1;
  background-color: #394b59;
}

.graph-container div {
  // overflow: auto;
  // background-color: red !important;
  // width: 100% !important;

  display: block;
}
.graph-container svg {
  width: 100% !important;
}
.network-connections {
  display: flex;
}
