.example-card {
  margin: 10px 0px;
}

.example-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.nav-bar-button:focus {
  outline: none;
}
.nav-buttons-right {
  display: flex;
  align-items: center;
}
.nav-bar-non-button:hover {
  cursor: default !important;
  background-color: #394b59 !important;
}
.banner {
  color: white;
  background-color: #bf8c0a !important;
  height: 30pt !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: 1 !important;
  white-space: pre-line;
}
.banner:hover {
  cursor: pointer !important;
}
