$row-height: 6px;
@import "~@blueprintjs/core/lib/scss/variables";

.rack-container {
  padding-left: 20px;
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
}
.rack-container span ~ span {
  padding-left: 20px;
  display: inline-block;
}
.rack {
  outline: 10pt grey;
  border-style: solid;
  border-color: #202b33;
  display: inline-block;
  margin: left 10px;
}

.rack-table {
  //background: grey;
  border: 10pt grey !important;
  outline: 10pt white !important;
  width: 150pt;
  float: left;
  table-layout: fixed !important;
  padding-left: 0px !important;
}
.loc-table {
  border: 10pt grey !important;
  outline: 10pt white !important;
  padding-left: 0px !important;
}

.header {
  padding: 5px !important;
  font-size: 10px;
  background-color: grey;
}
// .table-rack{
//     border: 1pt black
//     flaot
// }

.cell {
  text-align: center !important;
  padding: 0 !important;

  margin: 0 !important;
  font-size: 2 * $row-height !important;
}
.rack-table .cell span ~ span {
  padding-left: 10px !important;
  display: inline-block;
}
.rack-table .cell {
  max-width: 100px !important;
  // text-overflow: clip !important;
  overflow: auto !important;
  position: relative !important;
  white-space: nowrap !important;
  padding-left: 0px !important;
  margin: 0px !important;
}
.rack-table .cell span {
  width: 80px;
  white-space: nowrap;
  margin: 0px !important;
  float: left;
}

.empty {
  padding: $row-height !important;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 10px 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 10pt 0 0;
}
