.tab {
  width: 100%;
  padding: 5pt;
  display: inline-block;
}
.tab:focus {
  outline: none;
}

// .table-nav-bar {
//   padding-top: 20pt;
// }
.inline-buttons {
  display: inline-block;
  white-space: nowrap;
  overflow: auto;
}

.no-data-text {
  padding: 30px;
}
.tab-panel {
  width: 100%;
}
.rack-tab .element-tab {
  display: block;
  margin: 10pt;
}
.element-table {
  position: relative;
  // float: left;
  width: 100% !important;
  // overflow-x: scroll;
  // display: inline-block;
  table-layout: auto;
}
.table-wrapper {
  width: 100%;
  overflow-x: scroll;
  // display: inline-block;
}
.bp3-callout {
  margin-bottom: 5pt;
  padding-bottom: 2pt;
}
.element-view {
  margin: 10pt;
  overflow: clip;
  width: calc(100% - 110pt) !important;
}
.filter-select {
  margin: 0 !important;
  // float: left;
}
.filter-sort-panel {
  float: left;
  display: block;
  width: 100%;
}
.field {
  float: left !important;
  margin: 0;
}
.test-fields {
  display: inline-block;
}
.test-fields button {
  margin-top: 20px;
}
.test-select {
  margin-top: 20px !important;
}
.add {
  float: right;
}

// .header-cell {
//   // cursor: pointer !important;
//   white-space: nowrap !important;
//   overflow: visible;
//   width: max-content !important;
// }
.header-text {
  white-space: nowrap !important;
  overflow: auto;
  width: max-content !important;
  display: inline-block;
}

.drag-drop-text span ~ span {
  padding-left: 5px !important;
}
.header-text span ~ span {
  padding-right: 0px !important;
  margin-left: 5px !important;
}
.modelname-text {
  margin-right: 10px;
}
.element-tab-buttons {
  float: right;
}

.hostname-text {
  margin-left: 10px !important;
  padding-right: 100px !important;
}
.table-options {
  margin: none !important;
  padding: none !important;
}
.badge {
  background-color: #9ae6b4;
  color: #22543d;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.rack-field {
  float: left;
}

.tab {
  width: 100%;
}
// .table-options {
//   margin-top: 120px;
// }
.element-tab table {
  width: 100%;
}
.rack-field .button {
  float: left;
  margin-top: 20px;
}
.header-text icon {
  float: right;
}
.icon {
  cursor: pointer !important;
}
.icon:hover {
  background-color: #394b59 !important;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
}

.rack-select {
  float: left;
}
.table-control {
  float: right !important;
}
