.tab {
  width: 100%;
  padding: 5pt;
  display: inline-block;
}
.tab:focus {
  outline: none;
}

.inline-buttons {
  display: inline-block;
  white-space: nowrap;
  overflow: auto;
}

.no-data-text {
  padding: 30px;
  overflow: clip;
}
.grant-admin-button {
  width: 135px !important;
}

.element-table {
  position: relative;

  width: 100% !important;

  table-layout: auto;
}
.rack-view-options {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.rack-form {
  text-align: center;
}
.rack-tab-panel {
  display: block;
}

.rack-tab .bp3-card {
  background-color: #202b33;
  // margin: 20pt !important;
  margin-top: 10pt;
  margin-bottom: 10pt;
}
.rack-range {
  text-align: center;
  width: min-content;
  margin: auto;
}
.test-fields .bp3-button {
  margin: 0pt;
  // margin-right: 10pt;
}
.test-fields .test-select {
  margin-right: 10pt;
}
.field-select {
  margin-right: 10pt;
}
.all-racks {
  height: fit-content;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  // display: inline-block;
}
.bp3-callout {
  margin-bottom: 5pt;
  padding-bottom: 2pt;
}
.bp3-tab-panel {
  overflow: auto;
  width: calc(100vw - 136pt);
}
.element-view {
  width: 100%;
}

.filter-select {
  margin: 0 !important;
  // float: left;
}
.filter-sort-panel {
  float: left;
  display: block;
  width: 100%;
}
.field {
  float: left !important;
  margin: 0;
}
.test-fields {
  display: inline-flex;
}
.test-fields .bp3-label {
  margin: 1px !important;
}
.add-filter {
  margin-top: 15pt;
  height: 20pt !important;
  float: left;

  margin-left: 10pt;
  display: inline-flex;
}

.range {
  display: inline-flex;
}
.test-select {
  margin-top: 20px !important;
}
.add {
  float: right;
}
.bp3-dialog .rack-select {
  padding-top: 20pt;
}
.table-options .bp3-callout {
  width: max-content;
  padding-bottom: 5pt;

  background-color: #30404d;
  padding-top: 5pt;
  margin-bottom: 0;
  min-height: 100%;
  color: #a7b6c2;
  background-color: #202b33;
}

.table-options .callout-icon {
  padding-right: 0pt !important;
  margin-right: 3pt;
}

.header-text {
  white-space: nowrap !important;
  overflow: auto;
  width: max-content !important;
  display: inline-block;
}

.drag-drop-text span ~ span {
  padding-left: 5px !important;
}
.header-text span ~ span {
  padding-right: 0px !important;
  margin-left: 5px !important;
}
.modelname-text {
  margin-right: 10px;
}
.element-tab-buttons {
  float: right;
}
.rack-letter {
  margin: auto;
}
.rack-tab-panel .element-tab-buttons {
  float: right;
  margin: 10pt;
  margin-right: 30pt;
}
.hostname-text {
  margin-left: 10px !important;
  padding-right: 100px !important;
}
.table-options {
  margin: none !important;
  padding: none !important;
}
.badge {
  background-color: #9ae6b4;
  color: #22543d;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.or {
  margin-top: 10pt;
}

.element-tab table {
  width: 100%;
}
.print-racks {
  float: right;
}

.header-text icon {
  float: right;
}
.icon {
  cursor: pointer !important;
}
.icon:hover {
  background-color: #394b59 !important;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
}

.rack-select {
  // float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}
.table-control {
  float: right !important;
}
