.rowC {
  display: flex;
  flex-direction: row;
}
.tab:focus {
  outline: none;
}

.table-nav-bar {
  padding-top: 20pt;
}
.loading-container {
  text-align: center;
}
.center {
  display: inline-block;
  padding: 10px;
}
.element-table {
  position: relative;
  float: right;
}
.add {
  float: right;
}
.table {
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
}
.badge {
  background-color: #9ae6b4;
  color: #22543d;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
}
