.column-third-right-report {
  text-align: left;
  flex: 33%;
  border-left: 1px solid white;
  padding-left: 10px;
}

.column-third-report {
  text-align: left;
  flex: 33%;
  padding-left: 10px;
}

.column-third-left-report {
  padding-top: 30px;
  text-align: left;
  flex: 33%;
}

.report-title {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.report-summary {
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid white;
}

.row {
  display: flex;
}
