.column-third-right-report {
  text-align: left;
  flex: 33%;
  padding-left: 10px;
}

.column-third-report {
  text-align: left;
  flex: 33%;
  padding-left: 10px;
}

.column-third-left-report {
  padding-top: 30px;
  text-align: left;
  flex: 33%;
}

.report-title {
  text-align: center;
  padding-bottom: 15px;
}

.report-summary {
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
}

.row {
  display: flex;
}

.report-all {
  overflow: auto;
}

.report-view {
  padding-left: 20pt;
  padding-right: 20pt;
}

.report-tab:focus {
  outline: none;
}

.report-card {
  background-color: #202b33 !important;
  border-radius: 5pt;
  padding: 20pt !important;
}
