.column-third-right {
  text-align: left;
  flex: 33%;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 10px;
}

.column-third {
  text-align: left;
  flex: 33%;
  align-items: center;
}

.column-third-left {
  padding-top: 30px;
  text-align: left;
  flex: 33%;
}

.row {
  display: flex;
}
