.user-view {
  margin: 20pt;
  margin-top: 0 !important;
  overflow: hidden;
}

.permission-card {
  background-color: #202b33 !important;
  border-radius: 5pt;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-bottom: 5pt;
}

.site-checkboxes {
  text-align: left;
}
