.user-view {
  margin: 20pt;
  margin-top: 0 !important;
  overflow: hidden;
}

.permission-card {
  background-color: #202b33 !important;
  border-radius: 5pt;
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  margin: 0pt;
}