.login-container {
    text-align: center;
  }
.login-card {
  background-color: #202b33 !important;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 10pt;
  border-radius: 5pt;
  padding-bottom: 10pt;
  max-width: 260pt;
  margin:0 auto;
  margin-bottom: 10pt;
}